* {
  padding: 0;
  margin: 0;
}

button {
  border-radius: 0;
  border: none;
  background-color: transparent;
}
button:hover {
  cursor: pointer;
  opacity: 0.8;
}
button:active {
  opacity: 0.5;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
a,
li {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

.color-primary {
  color: #ec5242;
}

.color-secondary {
  color: #272a31;
}

.color-dark-text {
  color: #515151;
}

.color-white {
  color: white;
}

.bg {
  background-color: #f7f7f9;
}

.bg-white {
  background-color: white;
}

.bg-primary {
  background-color: #ec5242;
}

.bg-dark {
  background-color: #272a31;
}

.bg-tertiary {
  background-color: #d3d3d3;
}

.bd-primary {
  border-color: #ec5242;
}

.bd-secondary {
  border-color: #272a31;
}

.bd-tertiary {
  border-color: #d3d3d3;
}

@font-face {
  font-family: Cocogoose;
  src: url(../fonts/Cocogoose.otf);
  font-weight: bold;
}
* {
  font-family: "Lato", sans-serif;
}

.ff-2 {
  font-family: "Cocogoose", sans-serif;
}

.header-1 {
  font-size: 36px;
  line-height: 52px;
}

.header-2 {
  font-size: 24px;
  line-height: 30px;
}

.header-3 {
  font-size: 18px;
}

.header-4 {
  font-size: 16px;
  font-weight: bold;
}

.subheading-1 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.body-1 {
  font-size: 16px;
  line-height: 24px;
}

.body-2 {
  font-size: 18px;
  line-height: 24px;
}

.caption-1 {
  font-size: 14px;
  line-height: 18px;
}

.fs-italics {
  font-style: italic;
}

.fw-bold {
  font-weight: bold;
}

.headline {
  background-image: url(../images/background.svg);
  background-size: cover;
  margin: 24px;
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headline .box {
  width: 100%;
  border-style: solid;
  box-sizing: border-box;
  padding: 16px;
  border-width: 3px;
  border-color: white;
}
@media screen and (min-width: 768px) {
  .headline {
    height: 100vh;
    padding: 0 10%;
    margin: 12px;
  }
  .headline .content {
    width: 60%;
  }
}

.main-program {
  padding: 36px 12px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.main-program .program-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 16px 0;
}
.main-program .program-list .program-item {
  align-items: center;
  justify-content: left;
  display: grid;
  grid-template-columns: 24px 100px auto;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.03);
  padding: 16px;
}
.main-program .program-list .program-item i {
  font-size: 24px;
}
.main-program .program-list .program-item .program-title {
  font-weight: 600;
}
.main-program .program-list .program-item .program-description {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .main-program {
    padding: 4% 10%;
    align-items: center;
  }
  .main-program .program-list {
    width: 60%;
  }
  .main-program .join-button {
    display: none;
  }
}

.featured-speakers {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
}
.featured-speakers .speakers-list {
  display: flex;
  flex-direction: column;
  margin: 16px 0 48px 0;
  gap: 40px;
}
.featured-speakers .speakers-list .speaker-item {
  display: flex;
  gap: 20px;
}
.featured-speakers .speakers-list .speaker-item .profile-image {
  height: 100%;
  width: 100px;
}

.about .about-age {
  padding: 24px;
  background-image: url(../images/background.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .about-age .box {
  width: 100%;
  border-style: solid;
  box-sizing: border-box;
  padding: 16px;
  border-width: 1px;
  margin: 40px;
}
.about aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.about .about-logo {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.about .about-logo .box {
  display: flex;
  justify-content: center;
  width: 100%;
  border-style: solid;
  box-sizing: border-box;
  padding: 16px;
  border-width: 1px;
  margin-top: 40px;
}
.about .past-conf .card-list {
  display: flex;
  flex-direction: column;
  padding: 24px 12px;
  gap: 20px;
}
.about .past-conf .card-list .card {
  position: relative;
}
.about .past-conf .card-list .card .card-image {
  opacity: 0.65;
  height: 100%;
  width: 100%;
}
.about .past-conf .card-list .card .card-body {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
}

.footer {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.divider {
  width: 38px;
  border-width: 1px;
  border-style: solid;
  align-self: center;
}

.small-divider {
  width: 19px;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.mt-12 {
  margin-top: 12px 0;
}

.mb-12 {
  margin-bottom: 12px 0;
}

.my-12 {
  margin: 12px 0;
}

.my-16 {
  margin: 16px 0;
}

.button {
  color: white;
  font-size: 16px;
  padding: 24px;
  letter-spacing: 0.03em;
}

.button-outline {
  height: 48px;
  width: 100%;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  border-radius: 4px;
}

body {
  background-color: #f7f7f9;
}

.logo {
  font-family: "Cocogoose";
  padding: 0 12px;
  color: #ec5242;
  font-size: 20px;
}
.logo span {
  font-family: "Cocogoose";
  color: #272a31;
}

.appbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  filter: drop-shadow(0px 0px 16px rgba(64, 83, 252, 0.24));
}
.appbar .navbar {
  height: 48px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.appbar .navbar .navbar-brand {
  display: none;
}
.appbar .navbar .navbar-toggler {
  width: 48px;
  height: 48px;
  font-size: 24px;
  color: #515151;
}
.appbar .navbar .navbar-nav {
  display: none;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .appbar .navbar {
    padding: 0 10%;
  }
  .appbar .navbar .navbar-brand {
    display: block;
  }
  .appbar .navbar .navbar-toggler {
    display: none;
  }
  .appbar .navbar .navbar-nav {
    display: flex;
  }
}

/*# sourceMappingURL=index.css.map */
