.button {
  color: white;
  font-size: 16px;
  padding: 24px;
  letter-spacing: 0.03em;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  &:active {
    opacity: 0.5;
  }
}

.button-outline {
  height: 48px;
  width: 100%;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}
