@use 'constants';

@mixin box($border-width: 3px) {
  width: 100%;
  border-style: solid;
  box-sizing: border-box;
  padding: 16px;
  border-width: $border-width;
}

.headline {
  background-image: url(../images/mobile_intro_bg.png);
  background-size: cover;
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .content {
    padding: 48px 24px;

    .title {
      background-image: url(../images/orange.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }

  .box {
    @include box;

    border-color: white;
  }

  @media screen and (min-width: constants.$min-width) {
    background-image: url(../images/main_big.png);
    height: 100vh;
    padding: 0 10%;
    margin: 12px 0;

    .content {
      width: 60%;
    }
  }
}

.main-program {
  background-image: url(../images/pattern_bg.png);
  padding: 36px 12px;
  color: #fff;
  display: flex;
  flex-direction: column;

  .program-list {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 1fr;
    gap: 12px;
    margin: 16px 0;

    li {
      display: flex;
    }

    .program-item {
      display: grid;
      grid-template-columns: 24px 100px auto;
      gap: 20px;
      align-items: center;
      justify-content: left;
      background-color: rgba($color: #fff, $alpha: 0.1);
      padding: 16px;

      &:hover {
        cursor: pointer;
        box-sizing: border-box;
        border: 1px solid white;
      }

      i {
        font-size: 24px;
      }

      .program-title {
        font-weight: 600;
      }

      .program-description {
        font-size: 14px;
      }
    }
  }

  .see-all-button {
    display: none;
  }

  @media screen and (min-width: constants.$min-width) {
    padding: 4% 10%;
    align-items: center;
    justify-content: center;

    .program-list {
      margin: 16px 12px;
      grid-template-columns: repeat(5, minmax(0, 1fr));
      justify-content: center;

      .program-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }

    .join-button {
      display: none;
    }

    .see-all-button {
      display: block;
      font-size: 14px;
      margin-top: 40px;
      text-decoration: underline;
    }
  }
}

.featured-speakers {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;

  .speakers-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    margin: 24px 0 48px 0;
    gap: 20px;

    article {
      display: flex;
    }

    .speaker-item {
      display: flex;
      gap: 20px;

      .profile-image {
        height: 100px;
        width: 100px;
      }
    }
  }

  @media screen and (min-width: constants.$min-width) {
    align-items: center;

    .speakers-list {
      grid-template-columns: 50% 50%;
      grid-row-gap: 48px;
      width: 80%;

      .speaker-item {
        width: 100%;

        .profile-image {
          height: 120px;
          width: 120px;
        }
      }
    }
  }
}

.about {
  .about-age {
    padding: 24px;
    background-image: url(../images/main_big.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .box {
      @include box(1px);

      margin: 40px;
    }

    @media screen and (min-width: constants.$min-width) {
      height: 100vh;
      justify-content: center;

      .content {
        width: 50%;
      }
    }
  }

  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }

  .about-logo {
    border-bottom-width: 2px;
    border-bottom-style: solid;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .box {
      display: flex;
      justify-content: center;

      @include box(1px);

      margin-top: 40px;
    }

    @media screen and (min-width: constants.$min-width) {
      .box {
        width: 50%;
      }

      .content {
        width: 50%;
      }
    }
  }

  .past-conf {
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .card-list {
      display: flex;
      flex-direction: column;
      padding: 24px 12px;
      gap: 20px;

      .card {
        position: relative;
        text-align: center;

        .card-image {
          opacity: 0.48;
          height: 100%;
          width: 100%;
          mix-blend-mode: multiply;
        }

        .card-body {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    @media screen and (min-width: constants.$min-width) {
      .content {
        width: 50%;
      }

      .card-list {
        flex-direction: row;

        .card {
          width: 100%;
        }
      }
    }
  }
}

.partners {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .logos {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
    .partner {
      filter: grayscale(100%) contrast(30%);
      height: 30px;

      &:hover {
        filter: none;
      }
    }
    @media screen and (min-width: constants.$min-width) {
      flex-direction: row;
    }
  }
}

.footer {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.divider {
  width: 38px;
  border-width: 1px;
  border-style: solid;
  align-self: center;
}

.small-divider {
  width: 19px;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}
