@mixin box($border-width: 3px) {
  width: 100%;
  border-style: solid;
  box-sizing: border-box;
  padding: 16px;
  border-width: $border-width;
}

.headline {
  background-image: url(../images/background.svg);
  background-size: cover;
  margin: 24px;
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .box {
    @include box;
    border-color: white;
  }
}

.main-program {
  padding: 36px 12px;
  color: #fff;
  display: flex;
  flex-direction: column;

  .program-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 16px 0;

    .program-item {
      align-items: center;
      justify-content: left;
      display: grid;
      grid-template-columns: 24px 100px auto;
      gap: 20px;
      background-color: rgba($color: #fff, $alpha: 0.03);
      padding: 16px;

      i {
        font-size: 24px;
      }

      .program-title {
        font-weight: 600;
      }

      .program-description {
        font-size: 14px;
      }
    }
  }
}

.featured-speakers {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;

  .speakers-list {
    display: flex;
    flex-direction: column;
    margin: 16px 0 48px 0;
    gap: 40px;

    .speaker-item {
      display: flex;
      gap: 20px;

      .profile-image {
        height: 100%;
        width: 100px;
      }
    }
  }
}

.about {
  .about-age {
    padding: 24px;
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

    .box {
      @include box(1px);
      margin: 40px 0;
    }
  }

  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }

  .about-logo {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    .box {
      display: flex;
      justify-content: center;
      @include box(1px);
      margin: 40px 0;
    }
  }

  .past-conf {
    .card-list {
      display: flex;
      flex-direction: column;
      padding: 24px 12px;
      gap: 20px;

      .card {
        position: relative;
        .card-image {
          opacity: 0.65;
          height: 100%;
          width: 100%;
        }

        .card-body {
          position: absolute;
          top: 45%;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

.footer {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.divider {
  width: 38px;
  border-width: 1px;
  border-style: solid;
  align-self: center;
}

.small-divider {
  width: 19px;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}
