.appbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.headline {
  margin: 24px;
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  width: 100%;
  border: 3px solid #fff;
  box-sizing: border-box;
  padding: 16px;
}

.text-center {
  text-align: center;
}

.main-program {
  padding: 36px 16px;
  color: #fff;
}
