* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

@font-face {
  font-family: "Cocogoose";
  src: url(./fonts/Cocogoose.otf);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
a,
li {
  list-style-type: none;
  text-decoration: none;
}
