* {
  padding: 0;
  margin: 0;
}

button {
  border-radius: 0;
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
a,
li {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}
