@font-face {
  font-family: Cocogoose;
  src: url(../fonts/Cocogoose.otf);
  font-weight: bold;
}

@mixin cocogoose-font {
  font-family: "Cocogoose", sans-serif;
}

* {
  font-family: "Lato", sans-serif;
}

.logo {
  @include cocogoose-font();

  span {
    @include cocogoose-font();
  }
}

.ff-2 {
  @include cocogoose-font();
}

.header-1 {
  font-size: 36px;
  line-height: 52px;
}

.header-2 {
  font-size: 24px;
  line-height: 30px;
}

.header-3 {
  font-size: 18px;
}

.header-4 {
  font-size: 16px;
  font-weight: bold;
}

.subheading-1 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.body-1 {
  font-size: 16px;
  line-height: 24px;
}

.body-2 {
  font-size: 18px;
  line-height: 24px;
}

.caption-1 {
  font-size: 14px;
  line-height: 18px;
}

.fs-italics {
  font-style: italic;
}

.fw-bold {
  font-weight: bold;
}

.fw-normal {
  font-weight: normal;
}