.header-1 {
  font-family: "Cocogoose";
  font-size: 40px;
  line-height: 52px;
}

.header-2 {
  font-family: "Cocogoose";
  font-size: 32px;
  line-height: 44px;
}

.subheading-1 {
  font-size: 16px;
  line-height: 24px;
}

.body-1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.body-2 {
  font-size: 18px;
  line-height: 24px;
}
