@use 'reset';
@use 'colors';

body {
  background-color: colors.$background;
}

.navbar {
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-family: "Cocogoose";
  padding: 0 12px;
  color: colors.$primary;
  font-size: 18px;
  line-height: 20px;
}

.navbar-toggler {
  width: 48px;
  height: 48px;
  font-size: 24px;
  color: colors.$dark-text;
}

.navbar-toggler:hover {
  cursor: pointer;
}
