@use 'reset';
@use 'colors';
@use 'typography';
@use 'layout';
@use 'spacing';
@use 'components';

body {
  background-color: colors.$background;
}

.logo {
  font-family: "Cocogoose";
  padding: 0 12px;
  color: colors.$primary;
  font-size: 20px;

  span {
    font-family: "Cocogoose";
    color: colors.$secondary;
  }
}

.appbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  filter: drop-shadow(0px 0px 16px rgba(64, 83, 252, 0.24));

  .navbar {
    height: 48px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-brand {
      display: none;
    }

    .navbar-toggler {
      width: 48px;
      height: 48px;
      font-size: 24px;
      color: colors.$dark-text;
    }

    .navbar-nav {
      display: none;
      gap: 40px;
    }

    @media screen and (min-width: 768px) {
      padding: 0 10%;

      .navbar-brand {
        display: block;
      }

      .navbar-toggler {
        display: none;
      }

      .navbar-nav {
        display: flex;
      }
    }
  }
}
