@use 'reset';
@use 'colors';
@use 'typography';
@use 'layout';
@use 'spacing';
@use 'components';

body {
  background-color: colors.$background;
}

.logo {
  display: none;
  font-family: "Cocogoose";
  padding: 0 12px;
  color: colors.$primary;
  font-size: 20px;

  span {
    font-family: "Cocogoose";
    color: colors.$secondary;
  }
}

.appbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  .navbar {
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-toggler {
      width: 48px;
      height: 48px;
      font-size: 24px;
      color: colors.$dark-text;
    }
  }
}
